<div class="words">
<%= form_for @posts, :url do |f| %>
<p>
	<%= f.label :title %>
	<%= f.text_field :title %>
</p>
<p>
	<%= f.label :body %>
	<%= f.text_area :content %>
</p>

	<%= f.submit %>
<% end %>

</div>
<style>
	.words{
		color: #f3cf1b;
		font-size: 22px;
	}
</style>