<div class="words">
<%= form_for @post, :url => {:action => "create"} do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<%= f.text_area :content %>
	<%= f.submit %>
<% end %>

</div>
<style>
	.words{
		color: #f3cf1b;
		font-size: 22px;
	}
</style>