<!DOCTYPE html>
<html lang="en">
<html>
<head>
  <title>Fashion Pot Pie!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag   'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <!-- this is the header from the bootstrap wrapper on the index.html page -->
  <head>

        <title>Fashion Pot Pie - By Nastashia</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Page description" />
        <meta name="author" content="Superthe.me" />
        <meta charset="utf-8" />

        

    </head>
<body>

<%= yield %>

</body>
</html>
