<!DOCTYPE html>
<html lang="en">
<html>
<head>
  <title>Fashion Pot Pie!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag   'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <!-- this is the header from the bootstrap wrapper on the index.html page -->
  <head>

        <title>Fashion Pot Pie - By Nastashia</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Page description" />
        <meta name="author" content="Superthe.me" />
        <meta charset="utf-8" />

        
<!-- <!-- Footer start -->

  <footer id="footer">
    <div class="container">
      <div class="row">

        <div class="col-sm-12">

          <ul class="social-links">
            <li><a href="hhttps://www.instagram.com/fashion_pot_pie_/" target="_blank" class="wow fadeInUp" data-wow-delay=".2s"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/fashionasticful" target="_blank" class="wow fadeInUp" data-wow-delay=".3s"><i class="fa fa-twitter"></i></a></li>
            <li><a href="mailto:NastashiaFuller@gmail.com" class="wow fadeInUp" data-wow-delay=".4s"><i class="fa fa-envelope"></i></a></li>
            <li><a href="https://www.facebook.com/nastashia.fuller" class="wow fadeInUp" data-wow-delay=".4s"><i class=" fafa-facebook-square"></i></a></li>
          </ul>

          <p class="copyright">
            © 2016 Fashion Pot Pie
          </p>

        </div>

      </div><!-- .row -->
    </div><!-- .container -->
  </footer> -->

  <!-- Footer end -->
    </head>
<body>

<%= yield %>

</body>
</html>
